<div class="form-horizontal" role="form">
    <div class="form-group">
        <div class="col-sm-12">
            <div class="radio">
                <label>
                    <input type="radio" name="checkerboard" value="checkerboard" ng-model="active">
                    Checkerboard
                </label>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="radio">
                <label>
                    <input type="radio" name="gradient" value="gradient" ng-model="active">
                    Gradient
                </label>
            </div>
        </div>
    </div>

    <div ng-if="active=='checkerboard'">
        <length-input label="Size" id="size" ng-model="checkerboard.size"></length-input>
        <color-input label="Color I" id="color1" ng-model="checkerboard.color1"></color-input>
        <color-input label="Color II" id="color2" ng-model="checkerboard.color2"></color-input>
        <div class="form-group">
            <div class="col-sm-4">
                <label for="dissolveExponent" class="control-label">Dissolve Exponent</label>
            </div>
            <div class="col-sm-8">
                <input type="number" class="form-control input-sm text-right" id="dissolveExponent"
                       ng-model="checkerboard.dissolveExponent" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.1">
            </div>
        </div>
    </div>

    <div ng-if="active=='gradient'">
        <color-input label="Top Color" id="topColor" ng-model="gradient.topColor"></color-input>
        <color-input label="Bottom Color" id="bottomColor" ng-model="gradient.bottomColor"></color-input>
        <color-input label="Lash Color" id="lashColor" ng-model="gradient.lashColor"></color-input>
    </div>
</div>
