<div ng-controller="ProjectCtrl as c" class="section">
  <div class="container" ng-show="c.project">
    <div class="row">
      <div class="col-md-3">
        <h1>{{ c.project.name }}</h1>
        <small>ID is {{c.project.id}}</small>
        <form name="settings" ng-submit="c.update()">
          <div class="btn-toolbar" role="toolbar">
            <button class="btn btn-primary btn-sm" ng-click="c.update()">Update</button>
          </div>
          <p></p>
          <accordion close-others="false">
            <accordion-group ng-repeat="setting in c.product.settings" heading="{{setting.title}}" is-open="true">
              <settings-section setting-type="setting" settings="c.project.product"></settings-section>
            </accordion-group>
          </accordion>
        </form>
      </div>
      <div class="col-md-9">
        <div ng-switch="c.state()">
          <div class="alert alert-success" ng-switch-when="upToDate">
            Up to Date
          </div>
          <div class="alert alert-info" ng-switch-when="dirty">
            Updating...
          </div>
          <div class="alert alert-info" ng-switch-when="updating">
            Updating...
          </div>
          <div class="alert alert-danger" ng-switch-when="error">
            Error: {{c.error}}
          </div>
        </div>
        <knitting-view2d knitting="c.knitting" class="preview img-rounded"></knitting-view2d>
      </div>
    </div>
  </div>
</div>
