body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.wide-container {
  width: 100%;
}


.serial-simulator {
  margin-top: 2em;

  #log {
    height: 20em;
    overflow-y: scroll;
  }

  ul {
    padding-left: 0
  }
  li {
    display: inline;
    margin-right: 2em;
  }
}

.positions {
  float: left;
  width: 10em;
  margin-right: 1em;

  .positions-name {
    width: 3em;
    font-weight: bold;
    float: left;
  }
  .positions-value {
    float: clear;
    text-align: right;
  }

  .row-position {
    margin-top: 0.5em;
  }
}

.graphical {
  .machine {
    height: .15em;
    width: 100%;
    background-color: #222222;
  }
  .needles {
    height: 3em;
    width: 100%;
  }

  .progress {
    margin-bottom: .2em;

    .progress-bar {
      -webkit-transition: none;
      -moz-transition: none;
      -ms-transition: none;
      -o-transition: none;
      transition: none;
    }
  }

  .details {
    text-align: center;

    .details-center {
      display: table;
      margin: 0 auto;
    }
  }
}
