body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.log-panel {
  margin-top: 2em;
}

.carriage-positions {
  float: left;
  width: 10em;
  margin-right: 1em;

  .carriage-position {
    .carriage-name {
      width: 3em;
      font-weight: bold;
      float: left;
    }
    .carriage-value {
      float: clear;
      text-align: right;
    }
  }
}

.graphical {
  margin-left: 11em;
  float: clear;

  .needles {
    height: 30px;
    background: url('../images/needles.png');
    background-size: 100% 100%;
  }

  .progress {
    margin-bottom: .2em;
  }

  .needle-pos {
    text-align: center;
  }
}