@()

@main("Carriage Display") {

	<div class="panel panel-default carriage-positions">
	  <div class="panel-heading">
	    <h3 class="panel-title">Positions</h3>
	  </div>
	  <div class="panel-body">
		  <div id="K-position" class="carriage-position">
		    <div class="carriage-name">
		      K
		    </div>
		    <div class="carriage-value">
		      unknown
		    </div>
		  </div>
		  <div id="L-position" class="carriage-position">
		    <div class="carriage-name">
		      L
		    </div>
		    <div class="carriage-value">
		      unknown
		    </div>
		  </div>
		  <div id="G-position" class="carriage-position">
		    <div class="carriage-name">
		      G
		    </div>
		    <div class="carriage-value">
		      unknown
		    </div>
		  </div>
	  </div>
	</div>

  <div class="panel panel-default graphical">
    <div class="panel-heading">
      <h3 class="panel-title carriage-type">Carriage</h3>
    </div>
    <div class="panel-body">
      <div class="needles"></div>
			<div id="bar" class="progress">
			  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="199" style="width: 0%">
			    <span class="sr-only"></span>
			  </div>
			</div>
			<div class="needle-pos">left</div>
	  </div>
	</div>
}(List("display"))