@(step: models.guide.GuideStep)

@import helper._

@main("Guide") {
  
<div class="panel panel-default step-listing">
  <div class="panel-body">
    <div class="total-count">
      Step @step.stepNumber of @step.all.size
    </div>
    @step.all.map { s =>
    <div id="step-@step.stepNumber" class="panel panel-default step @if(s==step) {active}">
      <div class="panel-heading">@s.name</div>
      <div class="panel-body">@s.description</div>
    </div>
    }
  </div>
</div>

<div>
@if(!step.isFirst) {
  @form(routes.Guide.previous) {
    <input type="submit" value="Previous">
  }
}
@if(!step.isLast) {
  @form(routes.Guide.next) {
    <input type="submit" value="Next">
  }
}
</div>

}(List("guide", "needles"))