@(step: models.guide.GuideStep)

@import helper._

@main("Guide", "wide-container") {
  
<div class="panel panel-default step-listing pull-left">
  <div class="panel-heading">
    <span class="navigation prev navbar-form navbar-left">
	    @form(routes.Guide.previous) {
	      <button type="submit" @if(step.isFirst){disabled}>Back</button>
	    }
    </span>
		<span class="navigation next navbar-form navbar-right">
		  @form(routes.Guide.next) {
         <button type="submit" @if(step.isLast){disabled}>Next</button>
		  }
		</span>
    <h2 class="panel-title text-center">Step @step.stepNumber of @step.all.size</h2>
  </div>
  <div class="panel-body">
    @step.all.map { s =>
    <div id="step-@step.stepNumber" class="panel panel-default step @if(s==step) {active}">
      <div class="panel-heading"><h4 class="panel-title">@s.name</h4></div>
      <div class="panel-body">@s.description</div>
    </div>
    }
    <div lass="panel panel-default step">
      <div class="panel-heading"><h4 class="panel-title text-center">End</h4></div>
      <div class="panel-body"></div>
    </div>
  </div>
</div>

}(List("guide", "needles"))