@()

@main("Preview") {

	Preview of the knitting result.
	
  <div class="preview-display">
    <div class="output-selection btn-group">
      <button type="button" id="btn-output-3d" class="btn btn-xs btn-default">
        <span class="glyphicon glyphicon-globe"></span>
      </button>
      <button type="button" id="btn-output-2d" class="btn btn-xs btn-default">
        <span class="glyphicon glyphicon-picture"></span>
      </button>
    </div>

    <div class="previews"></div>
  </div>

}(List("3dview", "2dview", "preview"))