@()

@main("Serial Port") {
  Simulates the serial port where normally the knitting machine is attached to.
  For debugging purposes or if no knitting machine is available.

  <div class="panel panel-default log-panel">
	  <div class="panel-heading">
	    <h3 class="panel-title">Log</h3>
	  </div>
	  <div class="panel-body" id="log">Start</div>
	</div>

  <form name="send-form">
    <input type="text" id="toSend" size="100">
    <input type="submit" value="Send" id="send" default="true"/>
  </form>
}(List("simulator"))
