@()

@main("Serial Port") {
  Simulates the serial port where normally the knitting machine is attached to.
  For debugging purposes or if no knitting machine is available.

  <div class="panel panel-default serial-simulator">
	  <div class="panel-heading">
	    <h3 class="panel-title">Log</h3>
	  </div>
	  <div class="panel-body" id="log">Start</div>
	</div>

  <form name="send-form">
    <input type="text" id="toSend" size="100">
    <input type="submit" value="Send" id="send" default="true"/>
  </form>

  <div class="templates serial-simulator">
    <h3>Templates</h3>
    <ul class="send-templates">
      <li><a data-value="@@0\t0\t<-\tK\t_"     href="#">K at 0</a></li>
      <li><a data-value="@@1\t1\t<-\tK\t_"     href="#">K at 1</a></li>
      <li><a data-value="@@2\t2\t<-\tK\t_"     href="#">K at 2</a></li>
      <li><a data-value="@@198\t198\t<-\tK\t_" href="#">K at 198</a></li>
      <li><a data-value="@@199\t199\t<-\tK\t_" href="#">K at 199</a></li>
      <li><a data-value="@@10\t10\t<-\tK\t_"   href="#">K at 10</a></li>
      <li><a data-value="@@34\t34\t<-\tK\t_"   href="#">K at 34</a></li>
      <li><a data-value="@@0\t-5\t<-\tK\t<"    href="#">K at -5</a></li>
      <li><a data-value="@@199\t210\t<-\tK\t>" href="#">K at 210</a></li>

      <li><a data-value="@@56\t56\t<-\tL\t_"   href="#">L at 56</a></li>
      <li><a data-value="@@0\t-10\t<-\tL\t<"   href="#">L at -10</a></li>
      <li><a data-value="@@199\t220\t<-\tL\t>" href="#">L at 220</a></li>

      <li><a data-value="@@150\t150\t<-\tG\t_" href="#">G at 150</a></li>
      <li><a data-value="@@0\t-14\t<-\tG\t<"   href="#">G at -14</a></li>
      <li><a data-value="@@199\t204\t<-\tG\t>" href="#">G at 204</a></li>
    </ul>

    <h3>Automatic</h3>
    <span class="automatic">
    <ul>
      <li>
        <a data-carriage="K" data-min="10" data-max="189" data-speed="30" href="#" class="start">
          Wide knitting with K
        </a>
      </li>
      <li>
        <a data-carriage="K" data-min="70" data-max="129" data-speed="60" href="#" class="start">
          Narrow knitting with K
        </a>
      </li>
    </ul>
    <a href="#" class="stop">Stop</a>
    </span>
  </div>
}(List("simulator"))
